<div class="control-group">
  <label for="title" class="control-label">title</label>
  <div class="controls">
    <%- contentTag('input', listing.title, {type:'text', class:'span6', name:'title'}) %>
  </div>
</div>
<div class="control-group">
  <label for="posted" class="control-label">price</label>
  <div class="controls">
    <%- contentTag('input', listing.price, {type:'number', step:"0.01", class:'span2', name:'price'}) %>
  </div>
</div>
