<div class="hero-unit">
  <h2>All Listings</h2>
  <%- linkTo('Create a new Listing', addListingPath, {class: 'btn pull-right'}); %>
</div>

<div id="listings-list">
<% if (listings) { %>
<% for (var i = 0, ii = listings.length; i < ii; i++) { %>
  <div class="row list-item" id="listing-<%= listings[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(listings[i].title, listingPath(listings[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= listings[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>