.home-panel-1 {
  padding: 20px;
  height: calc(50vh - 3.925em);
  min-height: 20em;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('/images/bookstore.jpg') fixed center;
  background-size: 100%;
  transition: background-size 500ms;
}

.home-panel-1:hover {
  background-size: 101%;
}

.home-panel-2 {
  padding: 20px;
  height: calc(50vh - 3.925em);
  min-height: 20em;
  background-color: #00ff00;
}

.home-panel-3 {
  padding: 20px;
  min-height: 20em;
  background-color: #0000ff;
}

.homepage-title {
  font-family: sans-serif;
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.homepage-subtitle{
  font-family: sans-serif;
  color: white;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}

.homepage-info {
  text-align: left;
  font-family: sans-serif;
  color: white;
  font-size: 1em;
  font-weight:normal;
  margin: 10px 25%;
}

.button-container-spacer {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

@media screen and (max-width:600px) {
  .homepage-info{
    margin: 5px 10%;
  }

  .homepage-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}