body {
  margin: 0;
}

.page-title {
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.page-subtitle {
  font-family: sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.large-button-green {
  font-family: sans-serif;
  text-decoration:none;
  font-size: 16px;
  font-weight:bold;
  padding: 10px 10px;
  border: 2px solid #008a00;
  cursor: pointer;
  border-radius:10px;
  background-color: white;
  transition: background-color 250ms, color 250ms;
  color: #008a00;
}

.large-button-green:hover{
  color:#ffffff;
  background-color:#008a00;
  border: 2px solid #008a00;
}

.small-button-green {
  font-family: sans-serif;
  text-decoration:none;
  font-size: 14px;
  font-weight:bold;
  padding: 6px 8px;
  border: 1px solid #008a00;
  cursor: pointer;
  border-radius:8px;
  background-color: white;
  transition: background-color 250ms, color 250ms;
  color: #008a00;
}

.small-button-green:hover{
  color:#ffffff;
  background-color:#008a00;
  border: 1px solid #008a00;
}

.large-button-red {
  font-family: sans-serif;
  text-decoration:none;
  font-size: 16px;
  font-weight:bold;
  padding: 10px 10px;
  border: 2px solid #db0003;
  cursor: pointer;
  border-radius:10px;
  background-color: white;
  transition: background-color 250ms, color 250ms;
  color: #db0003;
}

.large-button-red:hover {
  color: #ffffff;
  background-color: #db0003;
  border: 2px solid #db0003;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center-button {
  text-align: center;
}

.text-center {
  text-align: center;
}

.validation-result {
  font-size: 10pt;
  font-family: sans-serif;
  margin:auto;
}

.validation-failed {
  color: #ff0000;
}

.validation-success {
  color: #008000;
}

.top-button-container {
  width: 100%;
  display: inline-block;
}

.form-label{
  font-family: sans-serif;
  margin-top:10px;
  margin-bottom:3px;
}

.listing-property-title{
  list-style: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.listing-property-container{
  list-style: none;
  padding: auto;
}

.listing-property-value{
  list-style: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.modal-overlay {
  position:fixed;
  display:block;
  bottom:0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  background-color: rgba(50,50,50, 0.5);
}
.modal-dialog-box {
  overflow: auto;
  position:relative;
  max-width:500px;
  margin: auto;
  border-radius:10px;
  padding: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255,255,255,1.0);
}

.listings-container{
  text-align: left;
  width:70%;
  min-width: 200px;
  margin-left: 15%;
  margin-right: 15%;
}

.listing-link{
  text-decoration: none;
}

.listing-container{
  padding: 5px;
  margin: 7px;
  background-color: #dcdcdc;
  border-radius:5px;
  border: 2px solid white;
  transition: border 250ms;
  overflow:auto;
}

.listing-container:hover{
  border: 2px solid #9b9b9b;
}

.listing-title{
  font-family: sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  margin: 5px 3px;
  text-decoration:none;
  color: #5e5e5e;
  transition: color 250ms;
}

.listing-title:hover{
  color:black;
}
.listing-container:hover .listing-title{
  color: black;
}

.listing-authors{
  margin:5px 3px;
  font-family: sans-serif;
  font-size: 0.95em;
  color: #2e2e2e;
}

.listing-isbn{
  font-family: sans-serif;
  margin:3px 3px;
  font-size:0.9em;
  color: black;
}

.listing-cover{
  max-width:100%;
}

.cover-container{
  margin: 3px 5px 3px 2px;
  width:25%;
  max-width:200px;
  min-width:90px;
  height: auto;
  float:left;
}

.property-container{
  float:left;
  width:70%;
}

.listing-price{
  font-family: sans-serif;
  font-size:1em;
  font-weight: bold;
  margin: 15px 5px 5px 2px;
  color: black;
}

.listing-seller{
  font-family: sans-serif;
  font-size:0.9em;
  margin: 5px 3px;
  color: black;
}

.listing-input-box {
  padding: 7px;
  font-size: 15px;
  margin: 5px;
  border: 2px solid lightblue;
  border-radius: 2px
}

.listing-input-box:focus{
  box-shadow: 1px 1px 30px #909090;
}

.login-input {
  padding: 7px;
  font-size: 1em;
  width: 16em;
  margin: 5px;
  border: 2px solid lightblue;
  border-radius: 2px;
}

.login-input:focus {
  box-shadow: 1px 1px 30px #909090;
}