.page-title {
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.page-subtitle {
  font-family: sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.large-button-green {
  font-family: sans-serif;
  text-decoration:none;
  font-size: 16px;
  font-weight:bold;
  padding: 10px 10px;
  border: 2px solid #008a00;
  cursor: pointer;
  border-radius:10px;
  background-color: white;
  transition: background-color 250ms, color 250ms;
  color: #008a00;
}

.large-button-green:hover{
  color:#ffffff;
  background-color:#008a00;
  border: 2px solid #008a00;
}

.small-button-green {
  font-family: sans-serif;
  text-decoration:none;
  font-size: 14px;
  font-weight:bold;
  padding: 6px 8px;
  border: 1px solid #008a00;
  cursor: pointer;
  border-radius:8px;
  background-color: white;
  transition: background-color 250ms, color 250ms;
  color: #008a00;
}

.small-button-green:hover{
  color:#ffffff;
  background-color:#008a00;
  border: 1px solid #008a00;
}

.small-button-red {
  font-family: sans-serif;
  text-decoration:none;
  font-size: 14px;
  font-weight:bold;
  padding: 6px 8px;
  border: 1px solid #db0003;
  cursor: pointer;
  border-radius:8px;
  background-color: white;
  transition: background-color 250ms, color 250ms;
  color: #db0003;
}

.small-button-red:hover{
  color:#ffffff;
  background-color:#db0003;
  border: 1px solid #db0003;
}

.large-button-red {
  font-family: sans-serif;
  text-decoration:none;
  font-size: 16px;
  font-weight:bold;
  padding: 10px 10px;
  border: 2px solid #db0003;
  cursor: pointer;
  border-radius:10px;
  background-color: white;
  transition: background-color 250ms, color 250ms;
  color: #db0003;
}

.large-button-red:hover {
  color: #ffffff;
  background-color: #db0003;
  border: 2px solid #db0003;
}

span.large-button-green,
span.large-button-red,
span.small-button-green,
span.small-button-red{
  user-select: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center-button {
  text-align: center;
}

.text-center {
  text-align: center;
}

.validation-result {
  font-size: 10pt;
  font-family: sans-serif;
  margin:auto;
  float:left;
  width:100%;
  text-align: left;
  padding-left: 5px;
  transition: opacity 250ms;
}

.validation-failed {
  color: #ff0000;
  opacity: 1;
}

.validation-success {
  color: #ffffff;
  opacity: 0;
}

.listing-property-title{
  list-style: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.listing-property-container{
  list-style: none;
  padding: auto;
}

.listing-property-value{
  list-style: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.modal-overlay {
  position:fixed;
  display:block;
  bottom:0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  background-color: rgba(50,50,50, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 200ms, opacity 200ms linear;
}

.modal-dialog-box {
  overflow: auto;
  position:relative;
  max-width:500px;
  margin: auto;
  border-radius:10px;
  padding: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255,255,255,1.0);
}

.modal-dialog-box-wide {
  overflow: auto;
  position:relative;
  max-width:700px;
  margin: auto;
  border-radius:10px;
  padding: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255,255,255,1.0);
}

.modal-textarea {
  height:100%;
  margin: 0.75em 0.75em 1em;
  width: 90%;
  max-height: 50vh;
  min-height: 20vh;
  overflow:visible;
  border:2px solid lightblue;
  border-radius:5px;
}

.modal-textarea:focus {
  box-shadow: 1px 1px 30px #9f9f9f;
}

.listings-container{
  text-align: left;
  width:70%;
  min-width: 200px;
  margin-left: 15%;
  margin-right: 15%;
  padding-top:1em;
  clear:both;
}

.listing-link{
  text-decoration: none;
}

.listing-container{
  padding: 5px;
  margin: 7px;
  background-color: #dcdcdc;
  border-radius:5px;
  border: 2px solid white;
  transition: border 250ms;
  overflow:auto;
}

.listing-container:hover{
  border: 2px solid #9b9b9b;
}

.listing-title{
  font-family: sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  margin: 5px 3px;
  text-decoration:none;
  color: #5e5e5e;
  transition: color 250ms;
}

.listing-title:hover{
  color:black;
}
.listing-container:hover .listing-title{
  color: black;
}

.listing-authors{
  margin:5px 3px;
  font-family: sans-serif;
  font-size: 0.95em;
  color: #2e2e2e;
}

.listing-publisher{
  font-family: sans-serif;
  margin:2px 2px;
  font-size: 0.85em;
  color: #2e2e2e;
}

.listing-isbn{
  font-family: sans-serif;
  margin:3px 3px;
  font-size:0.9em;
  color: black;
}

.listing-cover{
  max-width:100%;
}

.cover-container{
  margin: 3px 5px 3px 2px;
  width:25%;
  max-width:200px;
  min-width:90px;
  height: auto;
  float:left;
}

.property-container{
  float:left;
  width:70%;
}

.listing-price{
  font-family: sans-serif;
  font-size:1em;
  font-weight: bold;
  margin: 15px 5px 5px 2px;
  color: black;
}

.listing-seller{
  font-family: sans-serif;
  font-size:0.9em;
  margin: 5px 3px;
  color: black;
}

.listing-input-box {
  padding: 7px;
  font-size: 15px;
  margin: 5px;
  border: 2px solid lightblue;
  border-radius: 2px;
  display: table-cell;
  float: left;
}

.listing-input-box:focus{
  box-shadow: 1px 1px 30px #909090;
}


.form-label{
  font-family: sans-serif;
  margin-top:15px;
  margin-bottom:1px;
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  width: 50%;
  padding-right:5px;
}

.form-content {
  overflow-x: hidden;
}

.login-input {
  padding: 7px;
  display: table-cell;
  font-size: 1em;
  width: 16em;
  margin: 5px;
  border: 2px solid lightblue;
  border-radius: 2px;
  float:left;
}

.login-input:focus {
  box-shadow: 1px 1px 30px #909090;
}

.listing-title-input {
  width: 20em;
}

.listing-author-input {
  width: 20em;
}

.listing-publisher-input {
  width: 20em;
}

.listing-price-input {
  font-size: 18px;
  font-family: monospace;
  width: 8em;
}

.listing-publication-date-input {
  width: 9em;
}

.isbn-input{
  width: 9em;
  font-family: monospace;
  text-align: center;
}

.form-input-container{
  width: 100%;
  display:table-row;
}

.form-validation-container{
  display:table-cell;
}

.listing-container-large{
  overflow: auto;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  padding: 5px 5px 1em;
}

.listing-cover-large{
  max-width:100%;
}

.cover-container-large{
  margin: 3px 5px 3px 2px;
  width:35%;
  max-width:300px;
  min-width:90px;
  height: auto;
  float:left;
}

.listing-title-large{
  font-family: sans-serif;
  font-size: 2.2em;
  font-weight: bold;
  margin: 0.25em 10px;
  text-decoration:none;
  color: black;
}

.listing-authors-large{
  margin:0.25em 10px;
  font-family: sans-serif;
  font-size: 1.2em;
  color: #2e2e2e;
}

.listing-publisher-large{
  font-family: sans-serif;
  margin:0.75em 10px;
  font-size: 1em;
  color: #2e2e2e;
}

.listing-isbn-large {
  font-family: sans-serif;
  margin:0.75em 10px;
  font-size:0.9em;
  color: black;
}

.listing-price-large{
  font-family: sans-serif;
  font-size:1.9em;
  font-weight: bold;
  margin: 1.1em 5px 5px 10px;
  color: black;
}

.listing-seller-large{
  font-family: sans-serif;
  font-size:1.1em;
  margin: 5px 10px;
  color: black;
}

.property-container-large{
  float:left;
  width:60%;
}

@media screen and (max-width: 800px){
  .listing-container-large{
    overflow: auto;
    padding: 5px 5px 3em;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }

  .listing-cover-large{
    max-width:100%;
  }

  .cover-container-large{
    margin: 3px 20% 3px 20%;
    width:60%;
    min-width:90px;
    height: auto;
    float:left;
  }

  .property-container-large{
    float:left;
    width:100%;
  }
}


.pagination-container{
  width:70%;
  margin: 1em 15%;
  text-align: center;
}

.page-number {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display:inline-block;
  font-family:sans-serif;
}

.search-bar-container {
  margin-left: 35%;
  margin-right:35%;
}

.search-button-black {
  float: right;
  vertical-align: middle;
  width: 2em;
  padding: 2px;
  height: 2em;
  border-radius: 5px;
  transition: background-color 250ms;
  cursor: pointer;
}

.search-button-black:hover {
  background-color: #a7ffe7;
}

.search-button-white {
  float: right;
  vertical-align: middle;
  width: 2em;
  padding: 2px;
  height: 2em;
  border-radius: 5px;
  transition: background-color 250ms;
  cursor: pointer;
}

.search-button-white:hover {
  background-color: #ff0f0f;
}

.search-bar{
  width: calc(100% - 3.25em);
  font-size: 1em;
  font-family: sans-serif;
  padding: 5px;
  border: 2px solid lightblue;
  border-radius: 5px;
}

.search-icon {
  width:100%;
  height: 100%;
}