<script>
    function validateForm(){
      let element = document.getElementsByClassName('isbn-input')[0];
      doValidation(element,element.value);
      return !!validateISBN(element.value);
    }

    function doValidation(element, value){
      let resultElement = document.getElementsByClassName('validation-result')[0];
      if(validateISBN(value)){
        success(resultElement);
      }
      else{
        failure(resultElement);
      }
    }

    function validateISBN(isbn){
      return /^[0-9]{10}$/.test(isbn) || /^[0-9]{13}$/.test(isbn);
    }

    function hideSubmit(){
      let submitElements = document.getElementsByClassName('submit');
      for(let i =0; i< submitElements.length; i++){
        submitElements[i].hidden = true;
      }
    }

    function showSubmit(){
      let submitElements = document.getElementsByClassName('submit');
      for(let i =0; i< submitElements.length; i++){
        submitElements[i].hidden = false;
      }
    }

    function success(element){
      element.classList.remove('validation-failed');
      element.classList.add('validation-success');
      element.innerText = "ISBN ok :)";
      showSubmit();
    }

    function failure(element){
      element.classList.remove('validation-success');
      element.classList.add('validation-failed');
      element.innerText = "Must be a valid ISBN";
      hideSubmit();
    }

    window.addEventListener('load', function(){
      //onload handler would go here... IF I HAD ONE
      let priceInput = document.getElementsByClassName('listing-price-input')[0];
      priceInput.addEventListener('blur', function(){
        if(!priceInput.value) {
          priceInput.value = 0;
        }
        priceInput.value = Number(priceInput.value).toFixed(2).toString();
      })

      let isbnInput = document.getElementsByClassName('isbn-input')[0];
      isbnInput.addEventListener('blur', function(){
        doValidation(isbnInput,isbnInput.value);
      });
      isbnInput.addEventListener('input', function(){
        doValidation(isbnInput,isbnInput.value);
      })
    });
</script>

<div class="page-title" style="text-align: center;">
    <h1>Create a new listing</h1>
</div>
<div class="form-content text-center">
    <form onsubmit="return validateForm()" action="/listings/create"  method="post">
        <p class="form-label">Book ISBN:</p>
        <input class="isbn-input listing-input-box" type="text" name="isbn" required title="Book ISBN:">
        <p class="validation-result">Must be a valid ISBN</p>
        <p class="form-label">Book Title:</p>
        <input class="listing-input-box listing-title-input" type="text" name="title" required title="Book Title:"><br>
        <p class="form-label">Authors (Separate multiple authors with commas):</p>
        <input class="listing-input-box listing-author-input" type="text" name="authors" required title="Authors"><br>
        <p class="form-label">Publisher (Optional):</p>
        <input class="listing-input-box listing-publisher-input" type="text" name="publisher" title="Publisher:"><br>
        <p class="form-label">Publication Date (Optional):</p>
        <input class="listing-input-box listing-publication-date-input" type="date" max="<%= new Date().toJSON().substr(0,10)%>" name="publicationDate" title="Publication Date:"><br>
        <p class="form-label">Book Price (USD):</p>
        <input class="listing-input-box listing-price-input" type="number" name="price" min="0" step="0.01" required title="Book Price (USD):"><br>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <br>
        <a href="/listings/" class="small-button-red">&lt; Cancel</a>
        <input class="submit large-button-green" hidden type="submit" value="Create">

    </form>
</div>