<div class="top-button-container">
    <a class="large-button-green left text-center" href="/listings/">&lt; Back to listings</a>
</div>
<div class="text-center">
    <p class="page-title">Success</p>
    <p class="page-subtitle">The listing has been successfully deleted.</p>
</div>
