<div class="top-button-container">
    <div class="large-button-green left text-center">
        <a class="large-button-inner" href="/listings/">&lt; Back to listings</a>
    </div>
</div>
<div class="text-center">
    <p class="page-title">Success</p>
    <p class="page-subtitle">The listing has been successfully deleted.</p>
</div>
