<div class="text-center">
    <div class="home-panel-1">
        <p class="homepage-title">
            Welcome to Matchbook!
        </p>

    </div>
    <div class="home-panel-2">
        <p class="homepage-title">
            Looking to buy?
        </p>
    </div>
    <div class="home-panel-3">
        <p class="homepage-title">
            Start Selling
        </p>
    </div>
</div>
