<div class="page-title" style="text-align: center;">
    <h1>Invalid Verification Link</h1>
</div>
<div class="text-center">
    <p class="page-subtitle">
        Sorry, the verification link you have clicked is either incorrect or has expired.
    </p>
    <p class="page-subtitle">
        Verification links expire automatically after 2 hours.
    </p>

    <p class="page-subtitle">
        If you would like to try again, please click the button below.
    </p>

    <p class="page-subtitle">
        A new email will be sent to you with a different verification link.
    </p>

    <a class="large-button-green" href="/account/verify/?resendemail=true">
        Resend Email
    </a>
</div>