<div class="page-title" style="text-align: center;">
    <h1>Login</h1>
</div>
<% if(typeof failure !== "undefined" && failure==true){%>
    <div class="text-center">
        <p style="color: red; font-family:sans-serif">Incorrect email address or password!</p>
    </div>
    <br>
<% }%>
<div class="login-form-content text-center">
    <% if(typeof redirect !== 'undefined' && typeof redirect === 'string'){%>
    <form action="/login?redirect=<%=redirect%>" method="post" style="display: table; width: 100%;">
    <% } else {%>
    <form action="/login" method="post" style="display: table; width: 100%;">
    <%}%>
        <div class="form-input-container">
        <p class="form-label">E-mail Address</p>
        <input class="login-input" type="email" name="email" required title="E-mail Address">
        </div>
        <div class="form-input-container">
        <p class="form-label">Password</p>
        <input class="login-input" type="password" name="password" required title="Password">
        </div>
        <br>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <div class="form-input-container">
        <p style="display: table-cell;">
        <input class="large-button-green" style="float:right;" type="submit" value="Login"/>
        </p>
        </div>
    </form>
</div>
<br>
<div class="text-center">
    <a class="small-button-green" href="/register">Sign up for a new account &gt;</a>
</div>